/* Add CSS Styling */
.odd{
    font-family: verdana,"DejaVu Sans", sans-serif;
    background-color: #e88e98;
}
#two{
    color: #1215d8;
    font-size: 36px;
}

.changed-font{
    font-size: 36px;
}
#four{
    background-color: #16e96b;
    font-size: 24px;
    font-weight: bold;
}